body {
    background-color: lightgray;
    font-size: 0.9rem;
}
.container {
    padding-right: 0em;
    padding-left: 0em;
    background-color: white;
}
@media  (min-width: 576px) {
.container {
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 .2em 2em 0 rgba(0, 0, 0, 0.2), 0 .2em 2em 0 rgba(0, 0, 0, 0.19);
}}
.link-w a {
    color: rgb(72, 112, 100);
}
.link-w a:link, a:visited, a:active {
    text-decoration: none;
}
.link-w a:hover {
    color: rgb(72, 112, 100);
    text-decoration: underline;
}
.link-g a{
    color: gray;
}
.link-g a:link, a:visited, a:active {
    text-decoration: none;
}
.link-g a:hover {
    color: rgb(155, 128, 8);
    text-decoration: underline;
}
.card a {
    color: white;
}
.card a:link, a:visited, a:active {
    text-decoration: none;
}
.card a:hover {
    color: rgb(247, 226, 165);
    text-decoration: none;
}
p b {
    color: gray;
}
.p-spacing {
    word-spacing: 1em;
}
.text-inverse {
    color: #fff;
}
.photo {
    margin-bottom: 1em;
    width: 100%;
    background: repeating-linear-gradient(to left, rgba(0, 0, 0, 0),rgb(255, 255, 255), rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 575px) {
.photo {
    width: 40%;
}
}
.me {
    padding: 2em 2em 1.6em 2em;;
    color: rgb(72, 112, 100);
}
.hr-me {
    margin-top: 0em;
    border-top: 1px solid rgb(72, 112, 100);;
}
.hr-data {
    margin-left: -1.55em;
    border-top: 2px solid lightgray;
}
.name {
    text-align: center;
    padding: 2em 0em;
    background-color: rgb(165, 68, 62);
}
.row-me {
    padding-bottom: .5em;
}
.row-hobbies {
    margin-top: 1em;
    margin-bottom: 1em;
}
.row-timeline {
    margin-bottom: 1.5em;
    color: gray;
}
.row-project {
    margin-top: .5em;
}
.row-languages {
    margin-top: 1em;
}
.project-padding {
    padding-left: 2em;
}
.fa-me {
    width: 1em;
    text-align: center;
}
.fa-color {
    color: rgb(72, 112, 100);
}
.progress {
    margin-bottom: .5em;
    height: 0.4em;
}
.progress-bar-1 {
    background-color: rgb(72, 112, 100);
}
.progress-bar-2 {
    background-color: rgb(165, 68, 62);
}
.progress-bar-3 {
    background-color: rgb(155, 128, 8);
}
.data-title {
    margin: 0em 0em 2em 0em;
    padding: 1em 3em .5em .5em ;
    background: repeating-linear-gradient(to left, rgb(155, 128, 8), rgba(155, 128, 8, 0.2) 100%);
    text-align: right;
}
.row-padd {
    padding: 0em 1.2em 1.5em 1.2em;
}
ul.timeline {
    width: 95%;
    list-style-type: none;
    position: relative;
}
ul.timeline > li {
    padding-left: 0.75em;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid rgb(72, 112, 100);
    left: 1.25em;
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.15em;
    z-index: 400;
}
.projects {
    padding: 1em;
    margin: 1em -1em 0em -6em;
    background-color: rgb(165, 68, 62);
}
.project-name {
    color: rgb(72, 112, 100);
    font-weight: 600;
}
.card-deck {
    margin: 0em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: .5rem;
}
.card {
    background-color: rgb(165, 68, 62);
    color: white;
    margin-bottom: 1rem;
}
.card-title {
    margin-bottom: .5rem;
}
.card ul {
    padding-left: 1rem;
}
.card-footer {
    text-align: right;
}
.flex {
    display: flex;
}
